$border: 10px;
$scale: 2.6;

.slider {
    user-select: none;

    // padding-bottom: $spacing_l*2;
    // overflow: hidden;
    // max-height: calc(100vh - #{$header_height});

    > .frame__inner {
        > .pt {
            max-height: calc(100vh - #{$header_height});
        }
    }
}
.slider__items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    perspective: 800px;

    transform: translateX(0px);

    //   background: red;
    //   display: flex;
    //   overflow-y: hidden;
    &:not(:active):hover {
        cursor: grab;
    }
    &:active {
        cursor: grabbing;
    }
}
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.slider__item {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;

    will-change: opacity;

    // .pt {
    //     img {
    //         position: absolute;
    //         inset: 0;
    //         width: 100%;
    //         height: 100%;

    //         object-fit: cover;

    //         object-position: center;

    //         border-radius: 0 0 30px 30px;
    //     }
    // }
    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        object-fit: cover;

        object-position: center;

        border-radius: 0 0 30px 30px;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.slider__item--loading {
    .pt {
        img {
            opacity: 0;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            z-index: -1;

            transform: translate(-50%, -50%);

            background: $color_main--darker;

            clip-path: circle(30% at 50% 50%);

            animation: result_item_loader 0.4s ease-in alternate infinite;

            content: "";
        }

        &::after,
        &::before {
            transition: opacity 0.3s, content 0s 0.3s;
        }
    }
}
.slider__item--loaded {
    .pt {
        img {
            opacity: 1;
        }

        &::after,
        &::before {
            opacity: 0;
            content: unset;
        }
    }
}
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.dots {
    position: absolute;
    left: 50%;
    bottom: 10px;

    transform: translateX(-50%);
    //   background: #000;

    display: flex;
}
.dot {
    position: relative;
    // width: 20px;
    height: 10px;
    width: 10px;
    border-radius: 50%;

    background: transparent;

    border: 1px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    &::after {
        position: absolute;
        inset: -1px;
        border-radius: inherit;

        background: #fff;

        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);

        transition: 0.3s;

        content: "";
    }

    & + & {
        margin-left: $spacing_m;
    }

    // background: #fff;
    // border: 1px solid $color_main--light;

    // border-radius: 4px;

    // transform: rotate(-12deg) skewX(66deg);

    // transition: 0.3s;

    // > svg {
    //     height: 100%;
    //     width: auto;

    //     fill: transparent;

    //     stroke: $color_main--light;
    //     stroke-width: 4;

    //     transition: 0.3s;
    // }
    &.active {
        &::after {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        // svg {
        //     fill: $color_main;
        // }
    }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.arrowNav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;

    display: none;
}
.arrowNav--left,
.arrowNav--right {
    position: absolute;
    top: 0;

    // width: 40px;
    height: 50px;
    transition: 0.6s;
    cursor: pointer;

    svg {
        width: auto;
        height: 100%;
        overflow: visible;
    }

    // &.active
    // {
    //     path {
    //         animation: arrowAnimation 0.6s ease-out;

    //         @keyframes arrowAnimation {
    //             0% {
    //                 transform: translateX(0);
    //             }
    //             50% {
    //                 transform: translateX(-50%);
    //             }
    //             100% {
    //                 transform: translateX(0);
    //             }
    //         }

    //         &:nth-child(1) {
    //             animation-delay: 0.1s;
    //         }
    //         &:nth-child(2) {
    //             animation-delay: 0s;
    //         }
    //         &:nth-child(3) {
    //             animation-delay: 0.2s;
    //         }
    //     }
    // }
}
.arrowNav--left {
    left: $spacing_s;
    transform: translateY(-50%);
}
.arrowNav--right {
    right: $spacing_s;
    transform: translateY(-50%) scaleX(-1);
}
