@-webkit-keyframes animateB-I {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes animateB-I {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes animateLsI-R {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  60% {
  }
  80% {
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes animateLsI-R {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  60% {
  }
  80% {
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes animateLsI-L {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  60% {
  }
  80% {
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes animateLsI-L {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  60% {
  }
  80% {
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes animateFI-U {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes animateFI-U {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes animateZI {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateZI {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

svg.animate .leave {
  -webkit-animation: leaveMoving 2s var(--d) ease-in-out alternate infinite;
          animation: leaveMoving 2s var(--d) ease-in-out alternate infinite;
}

svg.animate .leave1 {
  -webkit-transform-origin: 21% 90%;
          transform-origin: 21% 90%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  --d: 0s;
  --deg: 15deg;
}

svg.animate .leave2 {
  -webkit-transform-origin: 22% 90%;
          transform-origin: 22% 90%;
  --d: -0.4s;
  --deg: 5deg;
}

svg.animate .leave3 {
  -webkit-transform-origin: 21% 90%;
          transform-origin: 21% 90%;
  --d: -0.2s;
  --deg: 10deg;
}

@-webkit-keyframes leaveMoving {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(var(--deg));
            transform: rotate(var(--deg));
  }
}

@keyframes leaveMoving {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(var(--deg));
            transform: rotate(var(--deg));
  }
}

svg.animate #cupShadow {
  -webkit-transform-origin: 50% 91%;
          transform-origin: 50% 91%;
  -webkit-animation: cupShadow 1.4s ease-in-out alternate infinite;
          animation: cupShadow 1.4s ease-in-out alternate infinite;
}

@-webkit-keyframes cupShadow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes cupShadow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

svg.animate .leaveM {
  -webkit-animation: leaveM var(--t) ease-out infinite, leaveMOpa ease-in-out var(--t) infinite;
          animation: leaveM var(--t) ease-out infinite, leaveMOpa ease-in-out var(--t) infinite;
}

svg.animate .leaveM1 {
  -webkit-transform-origin: 3% 56%;
          transform-origin: 3% 56%;
  --percent: 30%;
  --t: 3s;
}

svg.animate .leaveM2 {
  -webkit-transform-origin: 70% 14%;
          transform-origin: 70% 14%;
  --percent: 70%;
  --t: 6s;
}

svg.animate .leaveM3 {
  -webkit-transform-origin: 32% 4%;
          transform-origin: 32% 4%;
  --percent: 80%;
  --t: 9s;
}

@-webkit-keyframes leaveM {
  from {
    -webkit-transform: translateY(0) scaleX(-1);
            transform: translateY(0) scaleX(-1);
  }
  to {
    -webkit-transform: translateY(var(--percent)) scaleX(1);
            transform: translateY(var(--percent)) scaleX(1);
  }
}

@keyframes leaveM {
  from {
    -webkit-transform: translateY(0) scaleX(-1);
            transform: translateY(0) scaleX(-1);
  }
  to {
    -webkit-transform: translateY(var(--percent)) scaleX(1);
            transform: translateY(var(--percent)) scaleX(1);
  }
}

@-webkit-keyframes leaveMOpa {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes leaveMOpa {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

svg.animate .svgBub {
  -webkit-animation: svgBub 3s var(--d) ease-in-out infinite alternate;
          animation: svgBub 3s var(--d) ease-in-out infinite alternate;
}

svg.animate .svgBub1 {
  --d: 0s;
}

svg.animate .svgBub2 {
  --d: -3.7s;
}

svg.animate .svgBub3 {
  --d: -0.4s;
}

@-webkit-keyframes svgBub {
  from {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  to {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
}

@keyframes svgBub {
  from {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  to {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
}

svg.animate #lipton {
  -webkit-transform-origin: 52% 63%;
          transform-origin: 52% 63%;
  -webkit-animation: lipton 3s alternate infinite;
          animation: lipton 3s alternate infinite;
}

@-webkit-keyframes lipton {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes lipton {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

svg.animate #lipton- {
  -webkit-transform-origin: 54% 62%;
          transform-origin: 54% 62%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: lipton 3s -0.3s alternate infinite;
          animation: lipton 3s -0.3s alternate infinite;
}

svg.animate #liptonRope {
  -webkit-transform-origin: 53.3% 62.4%;
          transform-origin: 53.3% 62.4%;
  -webkit-animation: liptonRope 3s -0.3s alternate infinite;
          animation: liptonRope 3s -0.3s alternate infinite;
}

@-webkit-keyframes liptonRope {
  from {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes liptonRope {
  from {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

svg.animate #liptonM {
  -webkit-transform-origin: 70.4% 46%;
          transform-origin: 70.4% 46%;
  -webkit-animation: liptonM 3s -0.3s alternate infinite;
          animation: liptonM 3s -0.3s alternate infinite;
}

@-webkit-keyframes liptonM {
  from {
    -webkit-transform: translateX(-4%) rotate(10deg);
            transform: translateX(-4%) rotate(10deg);
  }
  to {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
}

@keyframes liptonM {
  from {
    -webkit-transform: translateX(-4%) rotate(10deg);
            transform: translateX(-4%) rotate(10deg);
  }
  to {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
}

svg.animate #liptonM- {
  -webkit-transform-origin: 70.3% 45.7%;
          transform-origin: 70.3% 45.7%;
  -webkit-animation: liptonM 3s -0.3s alternate infinite;
          animation: liptonM 3s -0.3s alternate infinite;
}

svg.animate #liptonM--- {
  -webkit-transform-origin: 71% 46%;
          transform-origin: 71% 46%;
  -webkit-animation: liptonM 3s -0.3s alternate infinite;
          animation: liptonM 3s -0.3s alternate infinite;
}

svg.animate #sTree {
  -webkit-transform-origin: 83% 91%;
          transform-origin: 83% 91%;
  -webkit-animation: sTree 4s ease-in-out alternate infinite;
          animation: sTree 4s ease-in-out alternate infinite;
}

@-webkit-keyframes sTree {
  from {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  to {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}

@keyframes sTree {
  from {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  to {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}
/*# sourceMappingURL=animate.css.map */