:root {
  --header--bg: #fff;
  --header--itemColor: #6e7a84;
  --header--itemColorHover: #078770;
  --header--itemPColorHover: #078770;
  --header--itemPHasSubColorHover: #078770;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--header--bg);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header ~ *:nth-child(2) {
  margin-top: 56px;
}

.header__logo {
  position: relative;
  width: 86px;
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__logo > svg {
  width: 100%;
  height: auto;
  margin: auto;
}

@-webkit-keyframes svgStroke {
  60% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
    stroke: #00703c;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill-opacity: 1;
  }
}

@keyframes svgStroke {
  60% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
    stroke: #00703c;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill-opacity: 1;
  }
}

.a--mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: block;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.nav_item__wrapper {
  position: relative;
  display: block;
  width: 150px;
  height: 56px;
  color: var(--header--itemColor);
}

.nav_item__icon {
  position: absolute;
  top: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: transform, left;
}

.header__nav_item:hover .nav_item__icon {
  color: var(--header--itemColorHover);
}

.header__nav_item--hasSub:hover .nav_item__icon {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav_item__name {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_item__name .a--mask {
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav_item__name .a--mask .header__nav_item--hasSub ~ p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_item__name .a--mask .header__nav_item--hasSub:hover ~ p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav_item__name > p {
  position: relative;
  z-index: 1;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__nav_item:hover .nav_item__name > p {
  color: var(--header--itemPColorHover);
}

.header__nav_item--hasSub:hover .nav_item__name {
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.header__nav_item--hasSub:hover .nav_item__name > p {
  padding: 8px 20px;
  color: var(--header--itemPHasSubColorHover);
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.header__nav_item--hasSub:hover .nav_item__name .a--mask {
  -webkit-transition: 0s 0.3s;
  transition: 0s 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navMobile__Arr {
  display: none;
}

.nav_item__subItems {
  position: absolute;
  top: 100%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  --trx: -50%;
  -webkit-transform: translateX(var(--trx)) scale(0);
          transform: translateX(var(--trx)) scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav_item:hover .nav_item__subItems {
  opacity: 1;
  -webkit-transform: translateX(var(--trx)) scale(1);
          transform: translateX(var(--trx)) scale(1);
}

.nav_item__subItems::after {
  position: absolute;
  top: -150%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
}

.nav_item__subItem {
  position: relative;
  white-space: nowrap;
  padding: 8px 20px;
  color: #003d21;
  border-radius: 6px;
  margin: 0 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav_item__subItem:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__search {
  width: 326px;
  padding: 8px;
}

.header__search_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.input_mask {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #6e7a84;
  background: #fff;
  -webkit-transition: all 0.3s, border-radius 0.2s 0.3s;
  transition: all 0.3s, border-radius 0.2s 0.3s;
}

.search_placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  color: #6e7a84;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.header__search_result {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 20px 20px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__search_result:hover {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.result__header {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid rgba(57, 189, 127, 0.3);
}

.result__header > p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #003d21;
}

.result__header > p > i {
  font-size: 20px;
  margin-right: 8px;
}

.result__body {
  padding-bottom: 20px;
}

.result__body_items {
  max-height: 80vh;
  overflow: scroll;
  overscroll-behavior: contain;
}

.result__body_items::-webkit-scrollbar {
  background: transparent;
}

.result__body_item {
  position: relative;
  padding: 0 10px;
}

.result__body_item:not(.result__body_item--noClick)::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(57, 189, 127, 0.3);
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
}

.result__body_item:not(.result__body_item--noClick):hover {
  cursor: pointer;
}

.result__body_item:not(.result__body_item--noClick):hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.result__body_item_wrapper {
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
  border-bottom: 1px solid rgba(57, 189, 127, 0.3);
}

.result_item_cover {
  position: relative;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result_item_cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.result_item_cover > i {
  font-size: 36px;
  color: #003d21;
}

.result__body_item--loading .result_item_cover::after {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: #fff;
  border-radius: 6px;
  content: "";
}

.result__body_item--loading .result_item_cover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
  -webkit-animation: result_item_loader 0.4s ease-in alternate infinite;
          animation: result_item_loader 0.4s ease-in alternate infinite;
  background: #003d21;
  content: "";
}

.result__body_item--loading .result_item_cover::after, .result__body_item--loading .result_item_cover::before {
  -webkit-transition: opacity 0.3s, content 0s 0.3s;
  transition: opacity 0.3s, content 0s 0.3s;
}

.result__body_item--loaded .result_item_cover {
  z-index: 2;
}

.result__body_item--loaded .result_item_cover::after, .result__body_item--loaded .result_item_cover::before {
  opacity: 0;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.icon--error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon--error::after, .icon--error::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  --rotate: 45deg;
  width: 80%;
  height: 20%;
  background: #000;
  border-radius: 4px;
  content: "";
  -webkit-animation: icon__error 0.6s, icon__error-inf 0.4s 0.6s ease-in alternate infinite;
          animation: icon__error 0.6s, icon__error-inf 0.4s 0.6s ease-in alternate infinite;
}

@-webkit-keyframes icon__error {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes icon__error {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@-webkit-keyframes icon__error-inf {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(var(--rotate)) scale(1);
            transform: translate(-50%, -50%) rotate(var(--rotate)) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(var(--rotate)) scale(0.8);
            transform: translate(-50%, -50%) rotate(var(--rotate)) scale(0.8);
  }
}

@keyframes icon__error-inf {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(var(--rotate)) scale(1);
            transform: translate(-50%, -50%) rotate(var(--rotate)) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(var(--rotate)) scale(0.8);
            transform: translate(-50%, -50%) rotate(var(--rotate)) scale(0.8);
  }
}

.icon--error::before {
  --rotate: -45deg;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.result_item_loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #003d21;
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
  -webkit-animation: result_item_loader 0.4s ease-in alternate infinite;
          animation: result_item_loader 0.4s ease-in alternate infinite;
}

@-webkit-keyframes result_item_loader {
  to {
    -webkit-clip-path: circle(20% at 50% 50%);
            clip-path: circle(20% at 50% 50%);
  }
}

@keyframes result_item_loader {
  to {
    -webkit-clip-path: circle(20% at 50% 50%);
            clip-path: circle(20% at 50% 50%);
  }
}

.result_item_info {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  max-width: calc(290px - 70px);
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_info__name {
  width: 100%;
  border-bottom: 1px solid rgba(57, 189, 127, 0.3);
  font-weight: bold;
  color: #003d21;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item_info__name.item_info__name--error {
  border-color: transparent;
}

.item_info__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.item_info__size {
  width: 30px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00703c;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item_info__size + .item_info__size {
  margin-left: 8px;
}

.item_info__size:nth-child(1) {
  background: #06727d;
}

.item_info__size:nth-child(2) {
  background: #078770;
}

.item_info__size:nth-child(3) {
  background: #00703c;
}

.item_info__size:nth-child(4) {
  background: #56cad6;
}

.item_info__size:nth-child(5) {
  background: #510b70;
}

.item_info__size:nth-child(6) {
  background: #700641;
}

.item_info__size:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.item_info__price {
  text-align: right;
  font-weight: bold;
  color: #003d21;
}

.header__search_input {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  background: transparent;
  height: 100%;
  border: none;
  outline: none;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.header__search_input:focus ~ .search_placeholder {
  top: 0;
  opacity: 0;
}

.header__search_input:focus ~ .input_mask {
  border-color: transparent;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s, border-radius 0s;
  transition: all 0.3s, border-radius 0s;
}

.header__search_input:focus ~ .header__search_result {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header__search_input:valid ~ .search_placeholder {
  top: 0;
  opacity: 0;
}

.navMobile {
  display: none;
}

.frame {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.frame > * {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.sideNavigation {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 9;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-50%) translateX(calc(-100% + 4px));
          transform: translateY(-50%) translateX(calc(-100% + 4px));
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sideNavigation::after {
  position: absolute;
  inset: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: transparent;
  content: "";
}

.sideNavigation a {
  position: relative;
  display: block;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #39bd7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.sideNavigation a:hover {
  z-index: 1;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  background: #00703c;
}

.sideNavigation a:first-child {
  border-top-right-radius: 10px;
}

.sideNavigation a:last-child {
  border-bottom-right-radius: 10px;
}

.sideNavigation:hover {
  -webkit-transform: translateY(-50%) translateX(0);
          transform: translateY(-50%) translateX(0);
}

.sideNavigation:hover a {
  pointer-events: all;
}
/*# sourceMappingURL=menu.css.map */