@media (min-width: 37.5em) and (max-width: 79.9375em) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  header {
    height: 50px;
  }
  header ~ *:nth-child(2) {
    margin-top: 50px;
  }
  .header__nav_items {
    margin-left: 0;
  }
  .nav_item__wrapper {
    width: 50px;
    height: 50px;
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .header__nav_item--hasSub:hover .nav_item__wrapper {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .nav_item__name {
    opacity: 0;
    pointer-events: none;
  }
  .header__nav_item--hasSub:hover .nav_item__name {
    opacity: 1;
    pointer-events: all;
  }
  .nav_item__icon {
    font-size: 30px;
  }
  .header__nav_item--hasSub:hover .nav_item__icon {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header__search {
    padding: 4px;
  }
  .search_placeholder {
    font-size: 12px;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .result__body_item_wrapper {
    padding: 8px 0;
  }
  .result__body_items {
    overscroll-behavior: contain;
  }
  .result__header > p,
  .item_info__name,
  .item_info__price {
    font-size: 14px;
  }
  .item_info__price {
    padding-top: 8px;
  }
}

@media (max-width: 37.4375em) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  header {
    height: 50px;
  }
  header ~ *:nth-child(2) {
    margin-top: 50px;
  }
  .header__logo {
    z-index: 1;
  }
  .header__nav,
  .header__search {
    display: none;
  }
  .navMobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 50px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navMobile__trigger {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 100%;
    margin-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .navMobile__trigger ~ *:nth-child(2) {
    margin-top: 50px;
  }
  .navMobile__trigger::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transform: scaleX(3) scaleY(4);
            transform: scaleX(3) scaleY(4);
    content: "";
  }
  .navMobile__trigger-line {
    background: #003d21;
    height: 1px;
    display: block;
    margin: auto;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .navMobile__trigger-line + .navMobile__trigger-line {
    margin-top: 8px;
  }
  .navMobile__trigger-line:nth-child(1) {
    width: 60%;
  }
  .navMobile__trigger.active .navMobile__trigger-line:nth-child(1) {
    width: 100%;
    -webkit-transform: translateY(9px) rotate(-30deg);
            transform: translateY(9px) rotate(-30deg);
  }
  .navMobile__trigger-line:nth-child(2) {
    width: 100%;
  }
  .navMobile__trigger.active .navMobile__trigger-line:nth-child(2) {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .navMobile__trigger-line:nth-child(3) {
    width: 60%;
  }
  .navMobile__trigger.active .navMobile__trigger-line:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-9px) rotate(-30deg);
            transform: translateY(-9px) rotate(-30deg);
  }
  .navMobile__side {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overscroll-behavior: contain;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    pointer-events: none;
    background: white;
  }
  .navMobile__trigger.active ~ .navMobile__side {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    pointer-events: all;
  }
  .navMobile__side::after {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    background: inherit;
    content: "";
  }
  .navMobile__side-search {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin: 10px 0;
  }
  .input_mask {
    background: #f0f0f0;
    border-color: #f0f0f0;
    border-radius: 20px !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .header__search_result {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: #fff;
    border-radius: 0;
    width: auto;
  }
  .header__search_input {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 16px;
  }
  .header__search_input:focus ~ .search_placeholder, .header__search_input:valid ~ .search_placeholder {
    top: 0;
    opacity: 0;
  }
  .header__search_input:focus ~ .input_mask, .header__search_input:valid ~ .input_mask {
    border-color: transparent;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.12);
  }
  .header__search_input:focus ~ .header__search_result, .header__search_input:valid ~ .header__search_result {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .header__search_input:valid ~ .search_placeholder {
    top: 0;
    opacity: 0;
  }
  .header__search_wrapper {
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .search_placeholder {
    font-size: 12px;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .result__header {
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .result__header > p {
    margin: auto;
  }
  .result__body_item_wrapper {
    padding: 8px 0;
  }
  .result__body {
    height: calc(100% - 42px);
  }
  .result__body_items {
    overscroll-behavior: contain;
    height: 100%;
    overflow: scroll;
  }
  .result__header > p,
  .item_info__name,
  .item_info__price {
    font-size: 14px;
  }
  .item_info__price {
    padding-top: 8px;
  }
  .result_item_info {
    max-width: 100%;
    overflow: hidden;
  }
  .navMobile__side-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100% - 70px);
    overflow: hidden scroll;
  }
  .nav_item__wrapper {
    width: 100%;
    color: #003d21;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .nav_item__wrapper .nav_item__icon {
    margin-left: 10px;
  }
  .nav_item__name {
    width: calc(100% - 56px);
  }
  .nav_item__name > .a--mask {
    -webkit-transition: 0s !important;
    transition: 0s !important;
    width: calc(100% - 10px);
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-left: -56px;
  }
  .nav_item__name > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    padding: 0 8px !important;
    border-radius: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    width: calc(100% - 56px - 10px);
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .header__nav_item--hasSub.toSide {
    position: relative;
    z-index: 2;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header__nav_item--hasSub.toSide .navMobile__Arr {
    -webkit-transform: translateY(-50%) translateX(calc(100% + 20px));
            transform: translateY(-50%) translateX(calc(100% + 20px));
  }
  .header__nav_item--hasSub.toSide .navMobile__Arr > i {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .header__nav_item--hasSub:hover .nav_item__icon {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header__nav_item--hasSub:hover .nav_item__name {
    left: 56px;
    -webkit-transform: none;
            transform: none;
  }
  .header__nav_item--hasSub:hover .nav_item__subItems {
    -webkit-transform: none;
            transform: none;
  }
  .header__nav_item {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    will-change: transform;
  }
  .header__nav_item:hover .nav_item__name > p,
  .header__nav_item:hover .nav_item__icon {
    color: #003d21;
  }
  .header__nav_item .nav_item__name > p,
  .header__nav_item .nav_item__icon {
    color: #003d21;
  }
  .header__nav_item.active {
    -webkit-animation: animateBD 0.3s forwards;
            animation: animateBD 0.3s forwards;
  }
  .header__nav_item.active .nav_item__name > p,
  .header__nav_item.active .nav_item__icon {
    color: #078770;
  }
  @-webkit-keyframes animateBD {
    50% {
      -webkit-transform: scale(0.96);
              transform: scale(0.96);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes animateBD {
    50% {
      -webkit-transform: scale(0.96);
              transform: scale(0.96);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .navMobile__Arr {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    border: none;
    background: transparent;
    width: 56px;
    height: 56px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navMobile__Arr > i {
    display: block;
    margin: auto;
    font-size: 26px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav_item__subItems {
    top: 100%;
    left: 100%;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav_item__subItems::after {
    content: none;
  }
  .header__nav_item.toSide .nav_item__subItems {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
  }
  .nav_item__subItem {
    height: 56px;
    padding: 0 10px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    will-change: transform;
  }
  .nav_item__subItem > p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transform: none !important;
            transform: none !important;
    margin-top: 8px;
  }
  .nav_item__subItem > .a--mask {
    -webkit-transition: 0s !important;
    transition: 0s !important;
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav_item__subItem::before {
    display: block;
    width: 14px;
    height: 14px;
    margin-left: 30px;
    margin-right: 10px;
    border: 2px solid #06727d;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    content: "";
  }
  .nav_item__subItem.active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: rgba(57, 189, 127, 0.3);
    -webkit-animation: animateBD 0.3s forwards;
            animation: animateBD 0.3s forwards;
  }
  .nav_item__subItem.active::before {
    background: #06727d;
  }
}

@media (min-width: 37.5em) and (max-width: 79.9375em) {
  .arrowNav--left,
  .arrowNav--right {
    width: 34px;
  }
  .dots {
    bottom: -6px;
  }
  .dot {
    height: 6px;
  }
  .slider__item--loading .pt img {
    border-radius: 0;
  }
}

@media (max-width: 37.4375em) {
  .arrowNav--left,
  .arrowNav--right {
    display: none;
  }
  .dots {
    bottom: 0px;
  }
  .dot {
    height: 4px;
  }
  .slider__item--loading .pt img {
    border-radius: 0;
  }
}

@media (min-width: 37.5em) and (max-width: 62.4375em) {
  .content {
    padding: 20px 0;
  }
  .content__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -webkit-column-gap: 10px;
            column-gap: 10px;
    padding: 0 10px;
    width: 700px;
  }
  .content--alt .content__inner {
    -ms-grid-columns: 1fr 40%;
        grid-template-columns: 1fr 40%;
  }
  .content__icon {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1;
  }
  .content--alt .content__icon {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
  }
  .content__title {
    -ms-grid-row: 1;
    grid-row: 1;
    margin-top: auto;
    font-size: 28px;
    text-align: left;
  }
  .content--alt .content__title {
    text-align: right;
  }
  .content__des {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: 18px;
  }
  .content--alt .content__des {
    text-align: right;
  }
  .content__btn {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: 18px;
    margin: auto;
  }
  .content--alt .content__btn {
    margin-left: auto;
  }
}

@media (max-width: 37.4375em) {
  .content {
    padding: 10px 0 30px;
  }
  .content__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    -webkit-column-gap: 8px;
            column-gap: 8px;
    padding: 0 20px;
  }
  .content__icon {
    width: 40%;
    -ms-grid-row: 1 !important;
    -ms-grid-column: 1 !important;
    grid-area: 1 / 1 !important;
  }
  .content__title {
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: auto;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
  }
  .content__des {
    -ms-grid-row: 3;
    grid-row: 3;
    padding: 10px 0;
    font-size: 14px;
    text-align: left !important;
  }
  .content__btn {
    -ms-grid-row: 4;
    grid-row: 4;
    margin: auto 0 !important;
    width: unset;
    text-align: center;
    font-size: 14px;
  }
}

@media (min-width: 37.5em) and (max-width: 62.4375em) {
  .footer__body .frame__inner {
    width: 700px;
  }
  .footer__contents {
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    gap: 10px 0;
  }
  .footer__content {
    padding: 0 8px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    margin: auto;
  }
  .footer__content p {
    text-align: center;
  }
  .footer__content--title,
  .footer__content--fl {
    font-size: 17px;
    margin: auto auto 0;
  }
  .footer__content--address {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2/1;
  }
  .footer__content--tel {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: 3/1;
  }
  .footer__content--mail {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: 3/3;
  }
  .footer__content--social {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .footer__social {
    width: 46px;
    height: 46px;
    margin: 0 5px;
  }
  .footer__social > a {
    font-size: 16px;
  }
}

@media (max-width: 37.4375em) {
  .footer__body .frame__inner {
    width: 400px;
  }
  .footer__contents {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    gap: 10px 0;
  }
  .footer__content {
    padding: 0 8px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
  .footer__content p {
    font-size: 13px;
  }
  .footer__content a {
    font-size: 14px;
  }
  .footer__content--logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 1 / span 2;
    width: 100px;
    margin: auto;
  }
  .footer__content--title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / span 1 / span 2;
    margin: auto auto 0;
  }
  .footer__content--fl {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: 3 / 2;
    margin: 0;
    font-weight: normal;
  }
  .footer__content--title,
  .footer__content--fl {
    font-size: 17px;
  }
  .footer__content--address {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: 3 / 1 / span 2;
  }
  .footer__content--tel {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: 5 / 1;
  }
  .footer__content--mail {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: 5 / 2;
  }
  .footer__content--social {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: 4 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .footer__social {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .footer__social > a {
    font-size: 15px;
  }
  .footer__copyright {
    font-size: 12px;
    text-align: center;
  }
}
/*# sourceMappingURL=styleResponsive.css.map */