@import "myVar";
body {
    background: $color_main--darker;
}

.main {
    background: #fff;
    // max-width: 100vw;
    overflow: hidden;
}

@import "header";
@import "footer";
// @import "slider";
@import "slider2";
@import "content";
@import "sideNav";
